
    <form action="/confirm" method="post">
        <p><label>名前:<input type="text" name="chara_name"></label></p>
        <p class="caution">ハイフン無し、4ケタで入力してください 例)今日: <script>document.write(m + d);</script></script></p>
        <p><label>誕生日:<input type="text" name="date"></label></p>
        <p><label><input type="hidden" name="operation" value="new"></label></p>
        
        <p><label><input type="submit" value="完了"></label></p>
    </form>